/* Register.css */

/* Fondo general de la pagina */
body {
    margin: 0;
    padding: 0;
    background-image: url("images/bgstart.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
    overflow: hidden;
}

.navbar{
    text-align: end ;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5); /* Efecto de sombreado para el fondo */
    padding: 5px 24px;
    color:#fff;
}
.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #00bcd4;
}

/* Contenedor central del formulario */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Efecto de sombreado para el fondo */
}

.register-container img{
    align-self: center;
}

/* Estilo del formulario */
.register-form {

    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con transparencia */
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    width: 350px;
    animation: fadeIn 1s ease-in-out;
}

/* Animacion de entrada */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Header */
.register-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #3d9fff;
    font-size: 24px;
    font-weight: bold;
}

.register-form p{
    text-align: center;
    font-size: 16px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 12px 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    transition: border-color 0.3s ease;
    background-color: #f9f9f9;
}

.input-group input:focus {
    border-color: #007bff;
    outline: none;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

/* Boton */
button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

button:active {
    background-color: #004494;
    transform: translateY(0);
}

/* Footer */
.register-footer {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #777;
}

.register-footer a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.2s;
}

.register-footer a:hover {
    color: #0056b3;
    text-decoration: underline;
}
